.form-active {
    display: block;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: var(--col-prim);
}

.login {
    width: 20rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}